<ion-content>
  <ion-content>
    <ion-item lines="full">
      <p>Entrer votre email pour recevoir un email pour réinitialiser votre mot de passe </p>
    </ion-item>
    <form>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" (click)="authService.PasswordRecover(email.value)" expand="inline" >
            Réinitialiser le mot de passe
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
