#dropdown-custom{

  display: none;
  position: absolute;
  align-items: center;
  justify-content: end;
  width: 100%;
  top: 56px;
  z-index: 9999;
}

#dropdown-custom ul{

  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;

}

#main{
  margin-top: 56px;
}

.nav-link{
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.nav-link:hover{
  opacity: 0.7;
}
